@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@model IEnumerable<ImageApp.BLL.Models.UserWithPicturesVM>

<section class="w-75 mt-5 mx-auto d-block">
@if (@TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @TempData["SuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (@TempData["ErrMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @TempData["ErrMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@foreach (var item in Model.Select((value, i) => new { value, i }))
{
    @if (item.value.Pictures.Count() != 0)
    {
        <h1>@item.value.UserName</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">ImageFile</th>           
                </tr>
            </thead>

            @foreach (var picture in item.value.Pictures.Select((value, i) => new { value, i }))
            {                        
                <tbody>
                    <tr>
                        <th scope="row">@(item.i + 1)</th>
                        <td>@picture.value.Name</td>
                        <td>@picture.value.Id</td>
                        <td>@picture.value.User</td>
                        <td class="d-flex">

                            <span class="px-1">
                                <a asp-action="NewImage" asp-controller="Images" asp-route-PictureId="@item.value.Id">
                                    <i class="fa-solid fa-pen fa-lg" style="color:green"></i>
                                </a>
                            </span>
                            <span class="px-1">
                                    <a asp-action="DeleteUserImage" asp-controller="Images" asp-route-PictureId="@item.value.Id">
                                    <i class="fa-solid fa-trash fa-lg" style="color:red;"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                </tbody>         
            }
        </table>
    }
 }
</section>

@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
    ;
}

