@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

@model ImageApp.BLL.Models.PictureVM;

<section class="mt-5">

	@if (@TempData["ErrMsg"] != null)
	{
		<div class="alert alert-danger alert-dismissible fade show w-75 mx-auto d-block" role="alert">
			<strong>Error!</strong> @TempData["ErrMsg"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}

	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" asp-controller="Images" asp-action="SaveUpdate" enctype="multipart/form-data">

				<div class="alert-danger" asp-validation-summary="@ValidationSummary.ModelOnly"></div>
				<h2></h2>

				<div class="form-row">
					<input type="hidden" class="input-text" asp-for="@Model.UserId" required />
				</div>

				<div class="form-row">
					<input type="hidden" class="input-text" asp-for="@Model.PictureId" required />
				</div>

				<div class="form-row">
					<label asp-for="@Model.Name" class="form-label"></label>
					<input type="text" class="input-text" asp-for="@Model.Name" required />
					<span asp-validation-for="@Model.Name" style="color: red;"></span>
				</div>

				<div class="form-row">
					<label asp-for="@Model.Description" class="form-label"></label>
					<input type="text-area" class="input-text" asp-for="@Model.Description" required />
					<span asp-validation-for="@Model.Description" style="color: red;"></span>
				</div>

				<div class="form-row">
					<input type="hidden" asp-for="@Model.ImageFile" class="input-file" accept=".png, .jpg, .jpeg" />
				</div>

				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Add Picture">
				</div>
			</form>
		</div>
	</div>
</section>

@section Scripts
	{
	@{
		Html.RenderPartial("_ValidationScriptsPartial");
	}
    ;
}
