@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@model ImageApp.BLL.Models.ProfileVM;

    
 <section class="mt-4">
@if (@TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show w-75 mx-auto d-block" role="alert">
        <strong>Success!</strong> @TempData["SuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (@TempData["ErrMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show w-75 mx-auto d-block" role="alert">
        <strong>Error!</strong> @TempData["ErrMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Profie</h2>
        </div>

        <div class="row ">
            <div>

            </div>
            <div id="portfolio" class="portfolio d-flex">
                <div class="col-lg-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="portfolio-item filter-app">
                    <div class="portfolio-wrap">
                    @if (Model.ProfileImagePath == null)
                    {
                        <img src="~/img/Blank-Pfp.jpg" class="img-fluid" alt="">
                    }
                    else{                             
                          <img src="~/img/@Model.ProfileImagePath" class="img-fluid" alt="">
                        }
                        <div class="portfolio-info">
                            <h4>@Model.UserName</h4>
                            <div class="portfolio-links">
                                <a href="~/img/@Model.ProfileImagePath" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@Model.UserName"><i class="bx bx-plus"></i></a>
                                <a asp-controller="Images" asp-action="GetPicture" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="fa-solid fa-camera fa-lg" ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                  
        
            <div class="col-lg-8 pt-4 pt-lg-0 content mx-5">
                <h3>@Model.UserName</h3>
                <p class="fst-italic">
                    
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Email: </strong>@Model.Email</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Phone: </strong>@Model.PhoneNumber</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Address: </strong>@Model.Address</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Gender: </strong>@Model.Gender</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Age: </strong>@Model.Age</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Birthday: </strong>@Model.DateOfBirth</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Photos: </strong> @Model.Id</li>
                        </ul>
                    </div>
                </div>
                <p>
                   
                </p>
            </div>
        </div>
            @if (User.IsInRole("User"))
            {
                <span class="px-1">
                    <a asp-controller="User" asp-action="UpdateUser" asp-route-Id="@Model.Id" title="Update User">
                        <i class="fa-sharp fa-solid fa-file-pen fa-2xl" style="color: black"></i>
                    </a>
                </span>
            } : Edit User
    </div>
</section>

     </section>
@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
    ;
}
