@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@model ImageApp.BLL.Models.UserWithPicturesVM;

    
        <div class="my-5">
        </div>
    


@if (@TempData["SuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> @TempData["SuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (@TempData["ErrMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @TempData["ErrMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Profie</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                
                  <img src="~/img/Blank-Pfp.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>@Model.UserName</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong>@Model.DateOfBirth</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Gender:</strong>@Model.Gender</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong>@Model.PhoneNumber</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Address:</strong>@Model.Address</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong>@Model.Age</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong>@Model.DateOfBirth</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong>@Model.Email</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Photos:</strong> Available</li>
                        </ul>
                    </div>
                </div>
                <p>
                    Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                    Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->


</section><!-- End Testimonials Section -->
