@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

@using ImageApp.DAL.Enums
@model ImageApp.BLL.Models.RegisterVM;

@if (@TempData["SuccessMsg"] != null)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>Success!</strong> @TempData["SuccessMsg"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}


@if (@TempData["ErrMsg"] != null)
{
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>Error!</strong> @TempData["ErrMsg"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<div class="page-content">
	<div class="form-v5-content">
		<form class="form-detail" asp-controller="User" asp-action="SaveUser">

			<div class="alert-danger" asp-validation-summary="@ValidationSummary.All"></div>
			<h2>Register Account</h2>
			<div class="form-row">
				<label asp-for="@Model.Username" class="form-label"></label>
				<input type="text" class="input-text" asp-for="@Model.Username" required />
				<span asp-validation-for="@Model.Username"></span>
				<i class="fas fa-user p-2"></i>
			</div>
			<div class="form-row">
				<label asp-for="@Model.Email" class="form-label"></label>
				<input type="text" class="input-text" asp-for="@Model.Email" required />
				<span asp-validation-for="@Model.Email"></span>
				<i class="fas fa-envelope p-2"></i>
			</div>
			<div class="form-row">
				<label asp-for="@Model.PhoneNumber" class="form-label"></label>
				<input type="text" class="input-text" asp-for="@Model.PhoneNumber" required />
				<span asp-validation-for="@Model.PhoneNumber"></span>
				<i class="fas fa-phone p-2"></i>
			</div>
			<div class="form-row">
				<label asp-for="@Model.Address" class="form-label"></label>
				<input type="text" class="input-text" asp-for="@Model.Address" required />
				<span asp-validation-for="@Model.Address"></span>
				<i class="fas fa-address-card p-2"></i>
			</div>

			<div class="form-row">
				<label asp-for="@Model.DateOfBirth" class="form-label"></label>
				<input type="date" class="input-text" asp-for="@Model.DateOfBirth" required />
				<span asp-validation-for="@Model.DateOfBirth"></span>
			</div>

			<div class="form-row">
				<label asp-for="@Model.Gender" class="form-label"></label>
				<select class="form-select" aria-label="Default select example" asp-for="@Model.Gender" asp-items="Html.GetEnumSelectList <Gender>()">
					<option selected="" value=""></option>
				</select>
			</div>

			<div class="form-row">
				<label asp-for="@Model.Password" class="form-label"></label>
				<input type="text" class="input-text" asp-for="@Model.Password" required />
				<span asp-validation-for="@Model.Password"></span>
				<i class="fas fa-lock p-2"></i>
			</div>

			<div class="form-row">
				<label asp-for="@Model.ConfirmPassword" class="form-label"></label>
				<input type="text" class="input-text" asp-for="@Model.ConfirmPassword" required />
				<span asp-validation-for="@Model.ConfirmPassword"></span>
				<i class="fas fa-lock p-2"></i>
			</div>
			<div class="form-row-last">
				<input type="submit" name="register" class="register" value="Register">
			</div>
		</form>
	</div>
</div>

@section Scripts
	{
	@{
		Html.RenderPartial("_ValidationScriptsPartial");
	}
    ;
}
